<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">  <!-- thymeleaf engine -->
<head>
<meta charset="ISO-8859-1">
<title>Book Management System</title>
<link th:href = "@{/css/main.css}"  rel ="stylesheet"> <!--  @ is context path of our application--> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script type="text/javascript" th:src= "@{/js/actions.js}"></script>
</head>
<body>
	<div class="container">
	 <div class="row">
	 <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
	 	<h1 class= "text-center"> Create New Book</h1>
	 	<div class= "card-body">
	 	<form th:action="@{/book}"  th:object ="${book}" method="POST">
		 	<div class="form-group">
		 	<label> Book Title</label>
		 	<input type ="text" name ="title" th:field="*{title}" class="form-control" placeholder = "Enter book title" /></div>
		 	<div class="form-group">
		 	<label> Book image_url</label>
		 	<input type ="text" name ="image_url" th:field="*{image_url}" class="form-control" placeholder = "Enter book image_url" /></div>
		 	<div class="form-group">
		 	<label> Book genre</label>
		 	<input type ="text" name ="genre" th:field="*{genre}" class="form-control" placeholder = "Enter book genre" /></div>
		 	<div class="form-group">
		 	<label> Book publication_year</label>
		 	<input type ="text" name ="publicationYear" th:field="*{publicationYear}" class="form-control" placeholder = "Enter publicationYear" /></div>
		 	<div class="form-group">
		 	<label>Book publisherId</label>
		 	<input type ="text" name ="publisherId" th:field="*{publisherId}" class="form-control" placeholder = "Enter publisherId" /></div>
		 	<div class="form-group">
		 	<label>Book amazon_rating</label>
		 	<input type ="text" name ="amazon_rating" th:field="*{amazonRating}" class="form-control" placeholder = "Enter amazon_rating" /></div>
		 	
		 	
		 	<div class="box-footer">
		 	<button type="submit" class ="btn btn-primary">Submit</button>
		 	</div>
	 	</form>
	 	</div>
	 
	 </div>
	 </div>
	</div>

</body>
</html>