<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">  <!-- thymeleaf engine -->
<head>
<meta charset="ISO-8859-1">
<title>Book Management System</title>
<link th:href = "@{/css/main.css}"  rel ="stylesheet"> <!--  @ is context path of our application--> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script type="text/javascript" th:src= "@{/js/actions.js}"></script>
</head>
<body>
<div class ="container">
	<div class="row">
	<h1> List of Books</h1>
	</div>
	
	<div class ="row">
		<div class ="col-lg-3">
	 	 	<a th:href="@{/book/new}" class="btn btn-primary btn-sm mb-3">Add Book</a> 
			 	 
		</div>
		Hello <div th:if="${session.containsKey('name')}" th:text="${session.name}"></div>
		<div class="text-right">
			<a th:href="@{/logout}" class="btn btn-primary pull-right">Logout</a> 
		</div>
		
	</div>
	<table class="table table-striped table-bordered ">
	<thead class= "table-dark">
	<tr>
		<th> Book Title</th>
		<th> Book image_url</th>
		<th> Book publication_year</th>
		<th> Book publisher_id</th>
		<th> Book book_genre_id</th>
		<th> Book amazon_rating</th>
		
	
		<th>  Actions</th> 
	</tr>
	</thead>
	<tbody>
		<tr th:each="book : ${books}">
					<td th:text="${book.title}"> </td>
					<td>
					<img  th:src="@{${book.image_url}}" width="120" /> 
					</td>
					<td  th:text="${book.publicationYear}"> </td>	 
					<td  th:text="${book.getPublisherId()}"> </td>	
					<td  th:text="${book.genre}"> </td>	
					<td  th:text="${book.amazonRating}"> </td>	
				 <td>
						<a th:href = "@{/book/edit/{id}(id=${book.id})}" class ="btn btn-primary">Update</a>
					</td>
					<td>
						<a th:href = "@{/book/{id}(id=${book.id})}" class ="btn btn-primary">Delete</a>
					</td>  
					<td>
					<a th:href="@{/book/save/{id}(id=${book.id})}" class="btn btn-primary btn-sm mb-3">Save Book</a> 
					</td>
		</tr>
	</tbody>
	</table>
</div>
</body>
</html>