<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration Form</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body> 
    <div class="container">
      <div class="wrapper">
      
      
        <div class="title"><span>Registration Form</span></div>
      
	  <div th:if="${param.success}" class="text-primary">
		 	  	<div  align="center">You have been successfully registered!</div>
		 	  </div>
		 	
          <div class="row">
          
             <form th:action="@{/registration}" th:object="${registrationForm}" method="post">
				   <div class="form-group">
				 	<label>User Email</label>
				 	<input type ="text" name ="email" th:field="*{email}" required  /></div>
				 	<div class="form-group">
				 	<label> User password</label>
				 	<input type ="text" name ="password" th:field="*{password}" required/></div>
				 	<div class="form-group">
				 	<label> User FirstName</label>
				 	<input type ="text" name ="firstName" th:field="*{firstName}" required  /></div>
				 	
				 	<div class="form-group">
				 	<label>User LastName</label>
				 	<input type ="text" name ="lastName" th:field="*{lastName}" required /></div>
				 	<div class="form-group">
				 	<label> User created_date</label>
				 	<input type ="text" name ="created_date" th:field="*{created_date}" required  /></div>
				 	<div class="form-group">
				 	<label> User Gender</label>
				 	<input type ="text" name ="gender" th:field="*{gender}"  /></div>
				 	<div class="form-group">
				 	<label> User userType</label>
				 	<input type ="text" name ="userType" th:field="*{userType}" required /></div>
				 
				 	 <div  class="form-group">
				 		
				 		<button type="submit" class ="btn btn-primary">Register</button>
				 
			       		<span> Already registered ?<a href="/" th:href= "@{/}">Login here</a></span>
			        </div>
        	</form>
        	
      </div>
    </div>
  </body>
</html>

